name: Shell Check and Test

on:
  push:
    branches: [ main ]
  
  pull_request:
    branches: [ main ]

  schedule:
  - cron: '12 12 12 * *'

jobs:
  check:
    name: Shell Check

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install shellcheck
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
            sudo apt-get update
            sudo apt install -y shellcheck
        elif [ "$RUNNER_OS" == "macOS" ]; then
             brew install shellcheck
        else
             echo "$RUNNER_OS not supported"
             exit 1
        fi
      shell: bash

    - name: Run check
      run: shellcheck --check-sourced --color=auto --shell=bash shlog.bash shlog.plugin.zsh functions/shlog.zsh

  test:
    name: Test
    needs: [check]

    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        shell: ["bash", "zsh"]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install coreutils (gdate)
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
            echo "gdate=$(which gdate)"
        elif [ "$RUNNER_OS" == "macOS" ]; then
            brew install coreutils
        else
            echo "$RUNNER_OS not supported"
            exit 1
        fi
      shell: bash

    - name: Install shellspec
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
            sudo apt-get update
            sudo apt install -y shellspec
        elif [ "$RUNNER_OS" == "macOS" ]; then
            brew install shellspec
        else
            echo "$RUNNER_OS not supported"
            exit 1
        fi
      shell: bash

    - name: Run tests
      run: shellspec --shell=${{ matrix.shell }}
