name: Shell Check and Test

on:
  push:
    branches: [ main ]
  
  pull_request:
    branches: [ main ]

  schedule:
  - cron: '12 12 12 * *'

jobs:
  check:
    name: Shell Check

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install shellcheck
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
            sudo apt-get update
            sudo apt install -y shellcheck
        elif [ "$RUNNER_OS" == "macOS" ]; then
             brew install shellcheck
        else
             echo "$RUNNER_OS not supported"
             exit 1
        fi
      shell: bash

    - name: Run check
      run: shellcheck --check-sourced --color=auto --shell=bash shlog.bash shlog.plugin.zsh functions/shlog.zsh

  test:
    name: Test
    needs: [check]

    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        shell: ["bash", "zsh"]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install coreutils (gdate)
      if: runner.os == 'macOS'
      run: brew install coreutils

    - name: Check date command
      if: runner.os == 'Linux'
      run: |
        echo "$(which date)"
        date --version
        date  --date=@1767027969 +'%A, %B %e at %r'

    - name: Update Bash
      if: runner.os == 'macOS'
      run: brew install bash

    - name: Install/Update Zsh
      if: matrix.shell == 'zsh'
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
            sudo apt-get update
            sudo apt install -y zsh
        elif [ "$RUNNER_OS" == "macOS" ]; then
            brew install zsh
        else
            echo "$RUNNER_OS not supported"
            exit 1
        fi
      shell: bash

    - name: Install shellspec
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
            curl -fsSL https://git.io/shellspec | sh -s -- --yes
        elif [ "$RUNNER_OS" == "macOS" ]; then
            brew install shellspec
        else
            echo "$RUNNER_OS not supported"
            exit 1
        fi
      shell: bash

    - name: Run tests
      run: shellspec --shell=${{ matrix.shell }} --format documentation --output junit


    - name: Publish Test Report with Insights
      uses: ctrf-io/github-test-reporter@v1
      with:
        report-path: './report/*.xml'
        integrations-config: |
          {
            "junit-to-ctrf": {
              "enabled": true,
              "action": "convert",
              "options": {
                "output": "./ctrf-reports/ctrf-report.json",
                "toolname": "junit-to-ctrf",
                "useSuiteName": false,
                "env": {
                  "appName": "my-app"
                }
              }
            }
          }
        summary-delta-report: true
        insights-report: true
        flaky-rate-report: true
        fail-rate-report: true
        slowest-report: true
        upload-artifact: true
        artifact-name: "test_report-{{ matrix.os }}-{{ matrix.shell }}"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      if: always()
